/* form */
#applicationForm {
  display: flex;
  flex-direction: column;
}
#applicationForm input,
#applicationForm select,
.notes {
  box-shadow: none;
  padding: 5px;
  font-size: 17px;
  border-radius: 8px;
  font-size: medium;
  border: 1px solid;
}

.notes {
  font-size: 17px;
  min-height: 50px;
  border: 1px solid black;
  field-sizing: content;
}
#jobType,
#status {
  line-height: 18px;
}
/*validation error */
.validation_error {
  color: red;
  margin-top: 6px;
  line-height: 0.7;
  font-size: medium;
}

/*Button CSS */
#submitBtn {
  color: white;
  margin-top: 4px;
  font-size: 16px;
}
#submitBtn:hover {
  background-color: rgb(109, 109, 109);
  cursor: pointer;
}
