/* form */
.mainform {
  margin-bottom: 40px;
}
#applicationForm {
  display: grid;
  gap: 18px;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}
#applicationForm > .left_form {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background-color: white;
}
#applicationForm > .left_form input,
#applicationForm > .left_form select,
.notes {
  box-shadow: none;
  padding: 8px;
  font-size: 17px;
  border-radius: 8px;
  font-size: medium;
  border: 1px solid;
}
#applicationForm > .right_form {
  display: flex;
  flex-direction: column;
}
.notes {
  font-size: 17px;
  min-height: 90px;
  border: 1px solid black;
  field-sizing: content;
}
#jobType,
#status {
  line-height: 18px;
}
/*validation error */
.validation_error {
  color: red;
  margin-top: 6px;
  line-height: 0.7;
  font-size: medium;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
}

.textEditor_container {
  z-index: 0;
}
@media screen and (max-width: 768px) {
  #applicationForm {
    grid-template-columns: 1fr;
  }
  #applicationForm > .left_form {
    border-right: none;
    border-bottom: 2px solid #cccccc;
    padding: 0px;
    padding-bottom: 20px;
  }
}
