/* table css */
td {
  padding: 2px;
  text-align: start;
  border: 1px solid black;
}

th {
  border: 2px solid black;
  padding: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: start;
  min-width: 100px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
#clearBtn {
  display: none;
}
/*edit delete btn */
.action_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
.delete_btn,
.edit_btn {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  width: 60px;
  height: 23px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 2px 2px bisque;
}

/* media queies */
@media screen and (max-width: 1000px) {
  .action {
    padding-right: 70px;
  }
}

/* card design */
.card_container {
  padding: 2%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  height: max-content;
  border-radius: 8px;
}
.applyBtn {
  font-weight: 600;
  height: fit-content;
}
.role {
  font-size: x-large;
}
.company {
  font-size: xx-large;
}
.location_img {
  height: 12px;
}
.inner_card {
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.right {
  grid-column: span 2;
}
.footer {
  margin-top: 5px;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}
.description {
  min-height: 60px;
  grid-column: span 3;
}
.description > p {
  margin: 0%;
}
