.banner {
  display: flex;
}
.header {
  text-align: center;
  width: 100%;
}
.LogoutBtn {
  margin-left: auto;
  width: fit-content;
  display: flex;
  margin-right: 30px;
  align-items: center;
}
.header > h2 {
  line-height: normal;
  margin: 0%;
}
.header > p {
  margin: 0px;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
  }
}

/* table css */
td {
  padding: 2px;
  text-align: start;
  border: 1px solid black;
}

th {
  border: 2px solid black;
  padding: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: start;
  min-width: 100px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
#clearBtn {
  display: none;
}
/*edit delete btn */
.action_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
.delete_btn,
.edit_btn {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  width: 60px;
  height: 23px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 2px 2px bisque;
}

/* media queies */
@media screen and (max-width: 1000px) {
  .action {
    padding-right: 70px;
  }
}
/* card design */
.card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid;
  padding: 7px;
  min-height: 85vh;
}
.card {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  height: max-content;
  border-radius: 8px;
}

.inner_card {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.left {
  font-size: larger;
}
.right {
  height: 100%;
}
.footer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
