/* card design */
.card_container {
  padding: 15px;
  display: grid;
  gap: 13px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.inner_card {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.card {
  background-color: white;
  border: 1px solid #ccc;
  border-left: 4px solid #ccc;
  padding: 8px;
  padding-top: 0px;
  height: max-content;
  border-radius: 8px;
  transition: ease-in, 0.3s;
}
.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.header_card {
  display: flex;
  justify-content: space-between;
}
.Applied {
  height: 27px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 3px 3px;
  background-color: rgba(122, 212, 122, 0.548);
}
.jobTypeBox {
  color: rgb(13, 70, 13);
  font-weight: 500;
}
.role {
  font-size: 21px;
  font-weight: 600;
  color: #002368;
}

.company {
  font-size: 16px;
  display: flex;
  gap: 4px;
}
.loc {
  font-size: small;
}
.location_img {
  height: 12px;
}
.company_img {
  height: 22px;
}
.description {
  min-height: 60px;
  grid-column: span 3;
}
.description > p {
  margin: 0%;
}
.footer {
  display: flex;
  justify-content: space-between;
}
