/* table css */

td {
  padding: 2px;
  text-align: start;
  border: 1px solid black;
}

th {
  border: 2px solid black;
  padding: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: start;
  min-width: 120px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
button.edit,
button.delete {
  margin-right: 5px;
}
#clearBtn {
  display: none;
}
/*edit delete btn */
.action {
  min-width: 120px;
  display: flex;
  justify-content: space-around;
  gap: 2px;
}
.delete_btn,
.edit_btn {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  width: 60px;
  height: 23px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 2px 2px bisque;
}
