/* table css */
.table {
  padding: 5px;
}
td {
  padding: 2px;
  text-align: start;
  border: 1px solid black;
}

th {
  border: 2px solid black;
  padding: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: start;
  min-width: 100px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
#clearBtn {
  display: none;
}
/*edit delete btn */
.action_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
.delete_btn,
.edit_btn {
  border-radius: 8px;
  width: 60px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 2px 2px bisque;
}

/* media queies */
@media screen and (max-width: 1000px) {
  .action {
    padding-right: 70px;
  }
}
