@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

body {
  margin: 0%;
  padding: 0%;
  box-sizing: content-box;
  font-family: "poppins-bold", sans-serif;
}

#root {
  margin: 0 auto;
}
/* Header */
.banner {
  display: flex;
  border-bottom: 2px solid black;
  padding-bottom: 3px;
}
.header {
  text-align: center;
  width: 100%;
}

.header > h2 {
  line-height: normal;
  margin: 0%;
}
.header > p {
  margin: 2px;
}
@media screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
  }
}
/* hero */
.hero-section {
  margin: 7px;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  padding: 7px;
  overflow: hidden;
}
.main-form {
  flex: 0 0 20%;
}
.main-table {
  flex: 0 0 80%;
  width: 100%;
  overflow: auto;
}
/* no forms */
.no_forms {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* model */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  border-radius: 12px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  max-width: 300px;
  border: 1px solid #888;
  width: 80%;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
button {
  background-color: #266eff;
  color: white;
  border: none;
  padding: 7px;
  border-radius: 5px;
  font-size: 12px;
}
button:hover {
  background-color: #004be0;
  cursor: pointer;
}
label {
  color: #003296;
  margin-top: 7px;
  font-family: "Poppins", sans-serif;
  font-size: medium;
}
.modal-content > h2 {
  text-align: center;
  margin-top: 0px;
}

/* media queies */
@media screen and (max-width: 600px) {
  .hero-section {
    flex-direction: column;
    padding: 3px;
  }
  .main-form,
  .main-table {
    margin-top: 8px;
    flex: 0 0 100%;
  }
}
.hidden {
  display: none;
}
.show {
  color: blue;
}
.show:hover {
  cursor: pointer;
}
#read-more-text {
  margin: 0;
}

.LogoutBtn {
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emp-name {
  min-width: max-content;
}
/* drop down */
.dropdown-container {
  position: relative;
}
.dropdown-button {
  width: max-content;
  border-radius: 3px;
  background-color: #888;
}
.dropdown-button > img {
  margin-left: 5px;
  height: 10px;
}
.dropdown-menu {
  position: absolute;
  z-index: 30;
  margin-top: 2px;
  list-style: none;
  background-color: rgb(231, 231, 231);
  padding: 1px;
  border-radius: 5px;
}
.dropdown-menu > li:hover {
  cursor: pointer;
  background-color: rgb(207, 207, 207);
}
.dropdown-menu > li {
  padding: 7px;
  font-size: large;
}
