#root {
  margin: 0 auto;
}
.hero-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.main-form {
  flex: 0 0 20%;
}
.main-table {
  flex: 0 0 80%;
  overflow-x: auto;
}

/* media queies */
@media screen and (max-width: 600px) {
  .hero-section {
    flex-direction: column;
  }
  .main-form,
  .main-table {
    flex: 0 0 100%;
  }
  .main-table{
    margin-top: 8px;
  }
}
